<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Adit Parikh on 2017.10.21 
Copyright © 2017 Adit Parikh. All rights reserved.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >
    <!-- Any page created based on the siteTemplate is expected to provide
    its own content by using <ui:define name="editableContent">. If the page
    content is not defined, the following content will be used as default. -->

    <ui:composition>
        <h1>This is the default editable page content</h1>
    </ui:composition>

</html>