<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Adit Parikh on 2017.10.21 
Copyright © 2017 Adit Parikh. All rights reserved.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!--
    *********************************************
    * Header Component of Template siteTemplate *
    *********************************************
    This page's content is displayed on the top of each page created based on the siteTemplate.
    Changes made in this file will show up automatically with all pages created based on the
    siteTemplate for the entire site, achieving great maintainability.
    -->

    <!-- Do not enter tags before the composition line since they are ignored by JSF -->
    <ui:composition>
        <h:form>

            <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tr>
                    <td align="left" valign="middle">

                        <!-- Use absolute path for the image file since it will be accessed from all pages -->
                        <h:link outcome="index"><img src="#{resource['images:logo.png']}"
                                                     style="width:100%; height:100%; max-height:64px; max-width:90px; border: none"
                                                     alt="Logo" />
                        </h:link>

                    </td>

                    <td align="center" valign="middle">
                        <c:if test="#{accountManager.isLoggedIn() == true}">
                            <h1 style="color: white">Hello, #{accountManager.selected.firstName} from #{accountManager.selected.city}</h1>
                        </c:if>
                        <c:if test="#{accountManager.isLoggedIn() == false}">
                            <h1 style="color: white">Hello, Guest</h1>
                        </c:if>

                    </td>
                    <td align="right" valign="middle">
                        <p:inputText id="searchQueryField" style="width:200px" value="#{searchedRestaurantController.searchQuery}">
                            <p:watermark for="searchQueryField" value="Search here" />
                        </p:inputText>
                        &nbsp;
                        <p:commandButton value="Quick Search" id="searchButton"   
                                         styleClass="commandButton" icon="ui-icon-search"
                                         action="#{searchedRestaurantController.performSearch()}" 
                                         update="searchDialogForm">
                        </p:commandButton>
                        &nbsp;&nbsp;

                        &nbsp;&nbsp;

                        <c:if test="#{accountManager.isLoggedIn() == false}">

                            <h:link outcome="SignIn" styleClass="arialTen" style="color: white">
                                <i class="fa fa-sign-in">&nbsp;</i>Sign In
                            </h:link>&nbsp;&nbsp;

                            <h:link outcome="CreateAccount" styleClass="arialTen" style="color: white">
                                <i class="fa fa-user-plus">&nbsp;</i>Create an Account
                            </h:link>&nbsp;&nbsp;

                        </c:if>

                        <c:if test="#{accountManager.isLoggedIn() == true}">
                            <p:commandLink value="Advanced Search" styleClass="arialTen" 
                                           oncomplete="PF('RestaurantSearchDialog').show()" style="color: white">
                            </p:commandLink>
                            &nbsp;&nbsp;

                            <h:commandLink action="#{accountManager.logout()}" styleClass="arialTen" style="color: white">
                                <i class="fa fa-sign-out">&nbsp;</i>Sign Out
                            </h:commandLink>&nbsp;&nbsp;

                            <h:link outcome="Profile" styleClass="arialTen" style="color: white">
                                <i class="fa fa-user">&nbsp;</i>My Account
                            </h:link>&nbsp;&nbsp;
                        </c:if>
                    </td>
                </tr>
            </table>

        </h:form>

        <p:dialog position="center center" id="RestaurantSearchDialog" widgetVar="RestaurantSearchDialog" 
                  modal="true" resizable="false" appendTo="@(body)" header="Search Restaurants" width="500px">

            <h:form id="searchDialogForm">
                <div align="center" bgcolor="#FDF5E6" >
                    <br />
                    Search:
                    <p:inputText id="searchQueryField" style="width:200px"
                                 value="#{searchedRestaurantController.searchQuery}" required="true" requiredMessage="&bull; Please enter a search string!">
                        <p:watermark for="searchQueryField" value="Enter search string" />
                    </p:inputText>

                    <br></br><br></br>
                    Search Radius:
                    <p:inputText id="radiusQueryField" style="width:50px"
                                 value="#{searchedRestaurantController.radius}" required="true" requiredMessage="&bull; Please enter a radius in miles!!">
                        <p:watermark for="radiusQueryField" value="Miles" />
                    </p:inputText>


                    <br></br>

                    <p style="margin: 1px;"><h:message styleClass="errorMessages" for="searchQueryField"/></p>

                    <br></br>


                    <p:commandButton value="Search" id="searchButton"   
                                     styleClass="commandButton" icon="ui-icon-search"
                                     action="#{searchedRestaurantController.performSearch()}" 
                                     update="searchDialogForm">
                    </p:commandButton>
                    &nbsp;&nbsp;

                    <p:commandButton id="clear" value="Clear" immediate="true" 
                                     styleClass="commandButton" icon="ui-icon-refresh">
                        <f:ajax render=":searchDialogForm" />
                    </p:commandButton>

                    &nbsp;&nbsp;
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('RecipeSearchDialog').hide()" 
                                     styleClass="commandButton" icon="ui-icon-cancel" immediate="true">
                        <f:ajax render=":searchDialogForm" />
                    </p:commandButton>

                    <br></br><br></br>

                </div>
            </h:form>  

        </p:dialog>

    </ui:composition>
    <!-- Do not enter tags before the composition line since they are ignored by JSF -->

</html>
