<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Adit Parikh on 2017.10.21 
Copyright © 2017 Adit Parikh. All rights reserved.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- Do not enter tags before the composition line since they are ignored by JSF -->

    <!-- This page is constructed based on the siteTemplate -->
    <ui:composition template="template/siteTemplate.xhtml">

        <ui:define name="title">
            <!-- Set the page title -->
            <h:outputText value="Change Photo"></h:outputText>
        </ui:define>

        <!-- Create the content for this page below -->
        <ui:define name="editableContent"> 

            <div align="center" style="width:90%; margin:0 auto;">

                <!--All 'FacesMessage resultMsg' will be displayed here-->
                <p:growl id="growl" life="5000" />

                <h2>Please Choose Your Photo File and Upload It</h2>

                <!-- 
                The enctype attribute sets the content type of the data to be submitted to the server.  
                enctype="multipart/form-data" is required when the form used has a file upload control.
                -->

                <h:form id="UploadPhoto" enctype="multipart/form-data">

                    <!-- See p:fileUpload documentation in PrimeFaces User Guide -->
                    <p:fileUpload id="file" value="#{photoFileManager.file}" mode="simple" />
                    <br/>
                    <br/>
                    <!-- fieldset is an HTML tag that draws a box around the content enclosed within it -->
                    <fieldset style="width: 500px">

                        <!-- Upload action is performed with this command button -->
                        <p:commandButton id="upload" value="Upload" ajax="false" styleClass="commandButton"
                                         action="#{photoFileManager.upload()}" icon="ui-icon-arrowthick-1-n" />
                    </fieldset>
                    <br/>
                    <!-- Error messages are displayed here -->
                    <h:outputText styleClass="errorMessages" value="#{photoFileManager.message}" />

                    <br/>
                    <p:commandButton id="cancel" value="Cancel" ajax="false" styleClass="commandButton"
                                     action="#{photoFileManager.cancel()}" icon="ui-icon-cancel" />
                    &nbsp;
                    <p:commandButton id="clear" value="Clear" ajax="false" styleClass="commandButton"
                                     action="#{photoFileManager.clearErrorMessage()}" icon="ui-icon-refresh" />
                </h:form>

            </div>

        </ui:define>
    </ui:composition>
    <!-- Do not enter tags after the composition line since they are ignored by JSF -->
</html>
    