<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Adit Parikh on 2017.10.21 
Copyright © 2017 Adit Parikh. All rights reserved.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- Do not enter tags before the composition line since they are ignored by JSF -->

    <!-- This page is constructed based on the siteTemplate -->
    <ui:composition template="template/siteTemplate.xhtml">

        <ui:define name="title">
            <!-- Set the page title -->
            <h:outputText value="Edit Account"></h:outputText>
        </ui:define>

        <!-- Create the content for this page below -->
        <ui:define name="editableContent">

            <div align="center" style="width:50%; margin:0 auto;">

                <!-- Error messages will be shown here if any -->
                <p:messages id="msgs" showIcon="false"/>
                <h:outputLabel id="form-error-message" class="errorMessages" value="#{accountManager.statusMessage}"/>

                <h:form id="EditAccountProfileForm">

                    <h2>Edit Account Profile</h2>
                    
                    <f:event listener="#{accountManager.validatePasswordChange}" type="postValidate"/>

                    <p:panelGrid columns="2" columnClasses="accountColumn1, accountColumn2">

                        <!-- FIRST NAME -->
                        <p:outputLabel value="#{bundle.EditUserLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{accountManager.selected.firstName}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_firstName}" label="First Name">
                            <f:validateLength minimum="2" />
                        </p:inputText>   

                        <!-- MIDDLE NAME -->
                        <p:outputLabel value="#{bundle.EditUserLabel_middleName}" for="middleName" />
                        <p:inputText id="middleName" value="#{accountManager.selected.middleName}"
                                     required="false" styleClass="accountInputTextField" label="Middle Name">
                        </p:inputText>

                        <!-- LAST NAME -->
                        <p:outputLabel value="#{bundle.EditUserLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{accountManager.selected.lastName}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_lastName}" label="Last Name">
                            <f:validateLength minimum="2" />
                        </p:inputText>

                        <!-- ADDRESS LINE 1 -->
                        <p:outputLabel value="#{bundle.EditUserLabel_address1}" for="address1" />
                        <p:inputText id="address1" value="#{accountManager.selected.address1}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_address1}" label="Address Line 1">
                            <f:validateLength minimum="2" />
                        </p:inputText>

                        <!-- ADDRESS LINE 2 -->
                        <p:outputLabel value="#{bundle.EditUserLabel_address2}" for="address2" />
                        <p:inputText id="address2" value="#{accountManager.selected.address2}" styleClass="accountInputTextField" label="Address Line 2">
                        </p:inputText>

                        <!-- CITY -->
                        <p:outputLabel value="#{bundle.EditUserLabel_city}" for="city" />
                        <p:inputText id="city" value="#{accountManager.selected.city}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_city}" label="City">
                            <f:validateLength minimum="2" />
                        </p:inputText>

                        <!-- STATE ABBREVIATION -->
                        <p:outputLabel value="#{bundle.EditUserLabel_state}" for="state" />
                        <h:selectOneMenu id="state" value="#{accountManager.selected.state}" required="true" >
                            <f:selectItems value="#{accountManager.listOfStates}" var="state"
                                           itemLabel="#{state}" itemValue="#{state}" />
                        </h:selectOneMenu>

                        <!-- ZIP CODE -->
                        <p:outputLabel value="#{bundle.EditUserLabel_zipcode}" for="zipcode" />
                        <p:inputText id="zipcode" value="#{accountManager.selected.zipcode}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_zipcode}" label="Zip Code" >
                            <f:validateLength minimum="5" />
                            <f:validator validatorId="zipCodeValidator"/> 
                        </p:inputText>
                        
                        <!-- EMAIL ADDRESS -->
                        <p:outputLabel value="#{bundle.EditUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{accountManager.selected.email}" required="true" styleClass="accountInputTextField"
                                     requiredMessage="#{bundle.EditUserRequiredMessage_email}" label="Email">
                            <f:validateLength minimum="2" />
                            <f:validator validatorId="emailValidator" />  
                        </p:inputText>

                        <h:outputText value="#{bundle.ViewUserLabel_username}" />
                        <h:outputText value="#{accountManager.selected.username}" />

                        <h:outputLabel value="" />
                        <h:outputLabel value="Fill in Only to Change Password" styleClass="alertUser"/>

                        <!-- PASSWORD CHANGE -->
                        <h:outputLabel value="New Password:" for="newPassword" />
                        
                        <!-- ADDRESS LINE 1 -->
                        <p:password id="newPassword" value="#{accountManager.newPassword}" feedback="true" styleClass="accountInputTextField" >
                            <!-- Execute the "validate" method in the "PasswordValidator.java" class file to validate the password entered. -->
                            <f:validator validatorId="passwordValidator" /> 
                        </p:password>
                        
                        <!-- p:password changes the characters typed to bullets to hide the password as it is typed -->

                        <h:outputLabel value="Confirm New Password:" for="newConfirmPassword" />
                        <p:password id="newConfirmPassword" value="toBeReadFromThisFieldByAccountManager" styleClass="accountInputTextField" />

                    </p:panelGrid>
                    
                    <br />
                    <p:commandButton id="submit" value="Save" action="#{accountManager.updateAccount()}" 
                                     styleClass="commandButton" ajax="false" icon="ui-icon-disk" />
                    &nbsp;
                    <p:button outcome="Profile" value="Cancel" icon="ui-icon-cancel" styleClass="commandButton" />
                    
                    <br /><br />
                </h:form>
                
            </div>
            
        </ui:define>

    </ui:composition>
    <!-- Do not enter tags after the composition line since they are ignored by JSF -->
</html>