<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Adit Parikh on 2017.10.21 
Copyright © 2017 Adit Parikh. All rights reserved.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        <!-- 
        ==========================================================
        |  Clicking the INFO button displays this Dialog window  |
        |  to show the Details of the Selected Searched Restaurant.   |
        ==========================================================
        -->
        <p:dialog position="center center" id="searchedRestaurantDetailsDialog" widgetVar="searchedRestaurantDetailsDialog" 
                  modal="true" resizable="false" appendTo="@(body)" header="Searched Restaurant Details" 
                  showEffect="slide" hideEffect="explode" width="600px" style="position: absolute">

            <h:form id="searchedRestaurantDetailsForm" >
                <p:panel style="text-align:center; border:none" >   

                    <h1>
                        #{searchedRestaurantController.selected.name}
                    </h1>

                    <br></br><br></br>

                    <table align="center" id="modalTable" border="1" cellpadding="10" cellspacing="0">
                        <tr><td>Rating</td></tr>
                        <tr><td>#{searchedRestaurantController.selected.aggregate_rating}</td></tr>
                        <tr><td>Menu</td></tr>
                        <tr><td>#{searchedRestaurantController.selected.menu_url}</td></tr>
                        <tr><td>Number of Votes</td></tr>
                        <tr><td>#{searchedRestaurantController.selected.votes}</td></tr>
                        <tr><td>Address</td></tr>
                        <tr><td>#{searchedRestaurantController.selected.address}</td></tr>
                        <tr><td>Reviews</td></tr>
                        <tr><td>
                                <p:commandLink value="Reviews" oncomplete="PF('RestaurantReviewsDialog').show()"></p:commandLink> 
                            </td></tr>
                    </table>

                    <br></br><br></br>

                    <p:commandButton value="#{bundle.Close}" onclick="PF('searchedRestaurantDetailsDialog').hide()"
                                     styleClass="commandButton" icon="ui-icon-close"/>
                </p:panel>
            </h:form>
        </p:dialog>


    </ui:composition>
</html>
